profiles {
    standard {
    	env.JULIA_PKG_USE_CLI_GIT = 'true'
        process {
            executor  = 'local'
        }
    }
    // Sockeye or Canada Alliance
    cluster {
	    env.JULIA_PKG_USE_CLI_GIT = 'true'
        //apptainer.enabled = true
        //apptainer.autoMounts = true
    	process {
            scratch        = true
            executor       = 'slurm'
            //container      = 'docker://alexandrebouchardcote/default:0.1.6'
            clusterOptions = "$CLUSTER_OPTIONS"
            //module         = 'apptainer'
            cpus           = 1
            memory         = 4.GB
            time           = '2h'
        }
    }
}

executor {
    $local {
        cpus = 4
        //memory = 12.GB
    }
    $slurm {
        submitRateLimit = '120/1min'
        queueSize = 500
    }
}