profiles {
    standard {
        process {
            executor  = 'local'
        }
    }

    cluster {
    	process { 
            executor = 'slurm'
            cpus = 1
            memory = 4.GB
            time = 20.min
            clusterOptions = ['--nodes 1', '--account st-alexbou-1']
        }
        executor {
            name = 'slurm'
            queueSize = 500
        }
    }
}

